      div.test {   
                width: 400px;   
                margin: 5px auto;   
                border: 1px solid #ccc;   
            }   
                
            div.test strong {   
                font-size: 16px;   
                background: #fff;   
                border-bottom: 1px solid #aaa;   
                margin: 0;   
                display: block;   
                padding: 5px 0;   
                text-decoration: underline;   
                color: #059B9A;   
                cursor: pointer;   
            }   
                
            div.test p {   
                height: 400px;   
                background: #f1f1f1;   
                margin: 0;   
            }   