* { margin:0; padding:0; word-wrap:break-word; word-break:break-all; }
body { background:#FFF; color:#333; font:12px/1.6em Helvetica, Arial, sans-serif; }
a { color:#0287CA; text-decoration:none; }
a:hover { text-decoration:underline; }
ul, li { list-style:none; }
img { border:none; }
h1, h2, h3, h4, h5, h6 { font-size:1em; }
html { overflow:-moz-scrollbars-vertical; } /* 在Firefox下始终显示滚动条*/
/*左侧样式*/
.content_left{
    background:#eee;
    border: 1px solid #AAAAAA;
    width:200px;
    float:left;
    margin-right:10px;
}
.global_module {
    position: relative;
    background: #EEEEEE;
    padding-bottom: 8px;
    width: 80%;
    margin: 20px auto;
}
.module_up_down{
    position:absolute;
    top:9px;
    right:10px;
    cursor:pointer;
}
.global_module h3 {
    height:26px;
    background:#3B5998;
    color:#FFF;
    line-height:26px;
    text-indent:6px;
}
.content_left .news ul {
    padding:5px 0 5px 15px;
}
.content_left .procatalog ul {
    padding:5px 0 5px 15px;
}
.scrollNews {
    overflow: hidden;
    padding-left: 10px;
}
/* tooltip */
#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:1px;
    color:#333;
    display:none;
}
