<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="xmlurl" value="http://layout.qdzhixinda.com/Public/update.xml" />
    <add key="updateurl" value="http://layout.qdzhixinda.com/Public/update.zip" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
