<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>hello_vue</title>
<link rel="stylesheet" type="text/css" href="../../../../css/style.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<!-- body s -->
<p style="color: #f00">声明式渲染</p>
	<div id="app">
  		{{ message }}
	</div>

	<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse over me for a few seconds to see my dynamically bound title!
		</span>
	</div>

<p style="color: #f00">条件与循环</p>
	<div id="app-3">
  		<p v-if="seen">Now you see me</p>
	</div>

	<div id="app-4">
	  <ol>
	    <li v-for="todo in todos">
	      {{ todo.text }}
	    </li>
	  </ol>
	</div>

<p style="color: #f00">处理用户输入</p>
	<div id="app-5">
	  <p>{{ message }}</p>
	  <button v-on:click="reverseMessage">Reverse Message</button>
	</div>

	<div id="app-6">
	  <p>{{ message }}</p>
	  <input v-model="message">
	</div>

<p style="color: #f00">事件处理器</p>
	<div id="example-1">
	  <button v-on:click="counter += 1">增加 1</button>
	  <p>这个按钮被点击了 {{ counter }} 次。</p>
	</div>

	<!-- body e -->

<!-- js s -->
<script src="../../../../js/lib/jquery-1.8.3.min.js"></script>
<script src="../../js/lib/vue.js"></script>
<script src="js/main.js"></script>
<!-- js e -->
</body>
</html>