<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>hello_vue</title>
<link rel="stylesheet" type="text/css" href="../../../../css/style.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<!-- body s -->
<p style="color: #f00">声明式渲染</p>
	<div id="app1" v-bind:title="message1">
		{{ message }}
	</div>

	<a id="app2" :href="message">
		{{ message1 }}
	</a>

<p style="color: #f00">条件与循环</p>
	<div class="app3">
		<p v-if="screen">123123</p>
	</div>

	<div id="app4">
		<ol>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		</ol>
	</div>

<p style="color: #f00">处理用户输入</p>
	<div id="app-5">
	  <p>{{ message }}</p>
	  <button @click="reverseMessage">Reverse Message</button>
	</div>

	<div id="app-6">
	  <p>{{ message }}</p>
	  <input v-model="message">
	</div>
	<!-- body e -->

<!-- js s -->
<script src="../../../../js/lib/jquery-1.8.3.min.js"></script>
<script src="../../js/lib/vue.js"></script>
<script src="js/main1.js"></script>
<!-- js e -->
</body>
</html>