   p{width:150px;border:solid 1px #ccc;background:silver;padding:10px;margin:10px;}  
    div{width:100%;  
        display:-webkit-inline-box;  
        /*-webkit-box-orient:vertical;*/  
        /*-webkit-box-direction:reverse;*/  
        /*-webkit-box-pack:center;*/  
        /*-webkit-box-pack:end;*/  
        /*-webkit-box-pack:start;*/  
        /*-webkit-box-pack:justify;*/  
        /* -webkit-box-align:start; */  
        -webkit-box-align:end;  
        /*-webkit-box-align:center;*/  
        /*-webkit-box-align:stretch;*/}  
    p:nth-child(1){-webkit-box-flex:1;/*-webkit-box-ordinal-group:3*/}  
    p:nth-child(2){-webkit-box-flex:3;/*-webkit-box-ordinal-group:1*/}  
    p:nth-child(3){-webkit-box-flex:1;/*-webkit-box-ordinal-group:2*/}  