<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>vue_info</title>
<link rel="stylesheet" type="text/css" href="../../../../css/style.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<!-- body s -->
	<table>
		<thead>
			<tr>
				<td colspan="2">数据渲染</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>v-text="..."</td>
				<td>格式处理html</td>
			</tr>
			<tr>
				<td>v-html="..."</td>
				<td>保存html结构</td>
			</tr>
			<tr>
				<td>{{ ... }}</td>
				<td>……</td>
			</tr>
			<tr>
				<td colspan="2">渲染循环列表</td>
			</tr>
			<tr>
				<td>v-for=""</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="2">控制模块隐藏</td>
			</tr>
			<tr>
				<td>v-if=""</td>
				<td></td>
			</tr>
			<tr>
				<td>v-show=""</td>
				<td>通过css</td>
			</tr>
			<tr>
				<td colspan="2">事件绑定</td>
			</tr>
			<tr>
				<td>v-on:</td>
				<td>v-on:click=""或@click=""</td>
			</tr>
			<tr>
				<td colspan="2">属性绑定</td>
			</tr>
			<tr>
				<td>v-bind:</td>
				<td>v-bind:src="";v-bind:class=""或:src;:class</td>
			</tr>
		</tbody>
	</table>
	<!-- body e -->

<!-- js s -->
<script src="../../../../js/lib/jquery-1.8.3.min.js"></script>
<script src="../../js/lib/vue.js"></script>
<script src="js/main.js"></script>
<!-- js e -->
</body>
</html>